@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Lấy lại mật khẩu?";
    Layout = "_LoginLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<h4>Nhập địa chỉ email của tài khoản.</h4>
<hr />
    <div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary mg-t-20">Gửi</button>
        </form>
    </div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
