@model AppUser

@using AppMVC.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    ViewData["Title"] = "Student";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>Create Student</h4>

    @{
        if (@ViewBag.error != null)
        {
            <div id="AlertBox" class="alert alert-danger" role="alert">
                @ViewBag.error
            </div>
        }
    }

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HomeAddress" class="control-label"></label>
                    <input asp-for="HomeAddress" class="form-control" />
                    <span asp-validation-for="HomeAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" />
                    @*<span asp-validation-for="BirthDate" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label class="control-label">School</label>
                    <select asp-for="SchoolId" class="form-control" asp-items="ViewBag.SchoolId" id="schoolFilter" onchange="reloadSchoolFilter()">
                        <option value="" id="default-school" hidden="true">-- Select School --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Khoa</label>
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId" id="khoaFilter" onchange="reloadDepartmentFilter()">
                        <option value="" id="default-department" hidden="true">-- Select Department --</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Class" class="control-label"></label>
                    <select asp-for="ClassId" class="form-control" asp-items="ViewBag.ClassId" id="lopFilter">
                        <option value="" id="default-class" hidden="true">-- Select Class --</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <script>
        function reloadDepartmentFilter() {
            var khoaId = $("#khoaFilter").val();
            $.ajax({
                type: "GET",
                url: "/admin/school-management/class/GetLopByKhoaId?departmentId=" + khoaId,
                // data: { khoaId: khoaId },
                success: function (data) {
                    console.log(data);
                    $("#lopFilter").empty();
                    $.each(data, function (i, item) {
                        $("#lopFilter").append('<option value="' + item.id + '">' + item.name + '</option>');
                    });
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }

        function reloadSchoolFilter() {
            var schoolId = $("#schoolFilter").val();
            $.ajax({
                type: "GET",
                url: "/admin/school-management/department/GetDepartmentBySchoolId?schoolId=" + schoolId,
                // data: { schoolId: schoolId },
                success: function (data) {
                    console.log(data);
                    $("#khoaFilter").empty();
                    $("#lopFilter").empty();
                    $("#khoaFileter").append('<option value="" id="default-department" hidden="true">-- Select Department --</option>');
                    $.each(data, function (i, item) {
                        $("#khoaFilter").append('<option value="' + item.id + '">' + item.name + '</option>');
                    });

                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        }
    </script>
</body>
</html>


@{
    _AdminSidebarService.SetActive("Student", "Create", "SchoolManagement");
}

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}