@using AppMVC.Menu

@inject AdminSidebarService _AdminSidebarService

<div>
    <div class="flex-center">
        <img src="https://andrewlock.net/content/images/2021/banner_aspnetcore6.png" width="900" height="600" />
    </div>
</div>

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
}