@using AppMVC.Menu
@inject AdminSidebarService _AdminSidebarService
@{
    ViewData["Title"] = "Database Manage";
}

<h2>Xóa Database</h2>
<p class="alert alert-danger">
    Có chắc chắn xóa?
</p>

<form method="post">
    <button type="submit" class="btn btn-danger">
        Xóa Db
    </button>

    <hr>
    <a asp-action="Index">
        <i class="fas fa-backward"></i>
        Quản lý Db
        </a>
</form>

@{
    _AdminSidebarService.SetActive("DbManage", "Index", "Database");
}

@section Sidebar
    {
    @Html.Raw(_AdminSidebarService.renderHtml())
} 