@charset "UTF-8";
html {
  font-size: 14px;
  color: #000;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}

.mg-t-20 {
  margin-top: 20px;
}

.mg-b-20 {
  margin-bottom: 20px;
}

a {
  color: #000;
  text-decoration: none !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Vị trí tooltip */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.w-300 {
  max-width: 300px;
  overflow: clip;
}

.table td, .table th {
  max-width: 200px;
}

.main {
  background: #f8f8f8;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control {
  display: block;
  width: 100%;
  height: 39px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  outline: 0 !important;
  box-shadow: none !important;
}

.input-height {
  height: 45px !important;
}

.auth-content {
  padding-top: 67px;
  padding-bottom: 87px;
  display: flex;
  background-color: white;
  border-radius: 20px;
  justify-content: space-around;
}
.auth-image {
  margin-top: 10px;
}
.auth-form {
  width: 400px;
}

.page-header.navbar {
  background-color: #ffffff;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  min-height: 50px;
  filter: none;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.page-header-inner {
  float: left;
  width: 100%;
  height: 60px;
}

.page-header.navbar .page-logo {
  float: left;
  display: block;
  width: 235px;
  height: 60px;
  padding: 10px 20px 0px 30px;
}

.page-logo {
  background-color: #6673fc;
}
.page-logo__text {
  color: #fff;
  font-size: 25px;
}
.page-logo__icon {
  width: 35px;
  height: 35px;
  padding-right: 10px;
  float: left;
}

.page-header.navbar .page-logo {
  line-height: 1.7 !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}